main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  min-height: 100vh;
  padding: 50px 0px;
  color: white;
  text-align: center;
}

.card {
  background-color: #1F1F1F;
  max-width: 20rem;
  border-radius: 10px;
  padding: 23px 31px;
  width: 23em;
}

img {
  border-radius: 50%;
  width:  100px;
  height: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

h1 {
  margin-bottom: 4px;
}

h3 {
  color: #CAF835;
  margin-top: 4px;
}

.spaced-text {
  margin-top: 2.5px;
  margin-bottom: 20px;
}

.links a {
  display: block;
  background-color: #333333;
  border-radius: 7.5px;
  font-weight: bold;
  padding: 13px 0px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-bottom: 10px; 
}

.links a:hover {
  background-color: white;
  color: hsl(0, 0%, 12%);
}
